{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{%block title%} Exercise Reviews {%endblock%}

{% block content %}

<h1>Exercise Reviews</h1>

{% for r in all_exercise_reviews %}
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h3>{{r.title}}</h3>
        </div>
        <div>
            <p>Customer: {{r.customer.first_name}} {{r.customer.last_name}}</p>
            <p>Posted on: {{r.datetime}}</p>
            <p>Exercise: {{r.exercise.title}}</p>
        </div>
        <div>
            {{r.content}}
        </div>  
    </div>
</div>
{% endfor %}


{% endblock %}