{% extends 'base.template.html'%}

{%block title%} Shopping Cart {%endblock%}

{%block content%}

<h1>Your Cart </h1>

 {% for key, item in cart.items %}
    <div class="card">
        <div class="card-header"> Title: {{item.title}}</div>
       <div class="card-body">
        <p>
            <form method="POST" action="{% url 'update_cart_quantity_route' exercise_id=item.id%}">
            {%csrf_token%}
            Quantity: <input name="qty" type="text" value="{{item.qty}}" style="width:20px">
            <input type="submit" class="btn btn-primary btn-sm" value="Update Quantity"/>
            </form>
            Price: SGD {{item.price}}
        </p>
        <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart_route' exercise_id=item.id%}">Remove</a>
       </div>
    </div>

{%endfor%}
{%endblock%}