{% extends 'base.template.html'%}

{%block title%} Shopping Cart {%endblock%}

{%block content%}

<h1>Your Cart </h1>

 {% for key, item in cart.items %}
    <h2>Exercise</h2>
    <div class="card">
        <div class="card-header"> Title: {{item.title}}</div>
       <div class="card-body">
        <p>
            <form method="POST" action="{% url 'update_exercise_cart_quantity_route' exercise_id=item.id%}">
            {%csrf_token%}
            Quantity: <input name="qty" type="text" value="{{item.qty}}" style="width:20px">
            <input type="submit" class="btn btn-primary btn-sm" value="Update Quantity"/>
            </form>
            Price: ${{item.price}}
        </p>
        <a class="btn btn-danger btn-sm" href="{% url 'remove_from_exercise_cart_route' exercise_id=item.id%}">Remove</a>
       </div>
    </div>
    {%endfor%}

    {% for key, item in mealplan_cart.items %}
    <h2>Mealplan</h2>
    <div class="card">
        <div class="card-header"> Title: {{item.title}}</div>
       <div class="card-body">
        <p>
            Price: ${{item.price}}
        </p>
       </div>
    </div>

    <h1>Total: ${{total}}</h1>

    <a class="btn btn-success btn-sm mt-3" href="{%url 'checkout_route'%}">Checkout</a>
{%endfor%}
{%endblock%}