{% extends 'base.template.html' %}
{% load static %}

{%block title%}DAREbee{%endblock%}

{%block content%}
<h1>Welcome to DareBee!</h1>
<h2>Become your very best!</h2>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Exercise</h1>
    <p class="lead">Be Fit</p>
    <a class="btn btn-success" href="{% url 'view_all_exercise_route' %}">Learn More</a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mealplan</h1>
    <p class="lead">Be Healthy</p>
    <a class="btn btn-success" href="{% url 'view_all_mealplans_route' %}">Learn More</a>
  </div>
</div>
{%endblock%}
