{% extends 'base.template.html'%}


{%block title%} Profiles {%endblock%}

{% block content %}

<div class="table-responsive mt-5">
    <table class="table table-hover mt-5 mb-5">
    <h1>All Customers</h1>
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
    {% for each_customer in all_customers %}
        <tr>
            <td>{{each_customer.username}}</td>
            <td>{{each_customer.email}} </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>


<!-- <h1>All Profiles</h1> -->
<div class="table-responsive mt-3">
    <table class="table table-hover mt-5 mb-5">
    <h1>All Profiles</h1>
    <thead>
        <tr>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">Goals</th>
        </tr>
    </thead>
    <tbody>
    {% for each_profile in all_profiles %}
        <tr>
        <td>
        {{each_profile.customer}}
        <div class="profile-control">
            <a class="btn btn-primary btn-sm mt-1" href="{% url 'update_profile_route' profile_id=each_profile.id%}">Edit</a>
            <a class="btn btn-danger btn-sm mt-1" href="{% url 'delete_profile_route' profile_id=each_profile.id%}">Delete</a>
        </div>
        </td>
        <td>{{each_profile.first_name}} </td>
        <td>{{each_profile.last_name}}</td>
        <td>{{each_profile.dob}}</td>
        <td>{{each_profile.height}}</td>
        <td>{{each_profile.weight}}</td>
        <td>{{each_profile.goals}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}