{%extends 'base.template.html'%}

{%block title%} Your Profile {%endblock%}

{%block content%}

<div class="container mt-3">
        <div>
            <div class="profile">
                <div id="profile">
                    <h1 class="display">Your Profile</h1>
                </div>
                <div>   
                    <h3 class="profile"><b>Name:</b> {{profile.first_name}} {{profile.last_name}}</h3>
                    <ul class="list-unstyled profile" id="list-details">
                        <li class="mb-2 ml-5"><b>Email:</b> {{profile.customer.email}}</li>
                        <li class="mb-2 ml-5"><b>Date Of Birth:</b> {{profile.dob}}  </li>
                        <li class="mb-2 ml-5"><b>Height:</b> {{profile.height}}  </li>
                        <li class="mb-2 ml-5"><b>Weight:</b> {{profile.weight}} </li>
                        <li class="mb-2 ml-5"><b>Goals:</b> {{profile.goals}} </li>
                    </ul>
                    <a href="{% url 'update_profile_route'%}" class="btn btn-danger" id="profile-button">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>

{%endblock%}