body {
    /* background-color: #0089ff; */
    padding: 0;
    margin: 0;
    border: 0;
}
nav {
    background: white;
    margin-bottom: 15px;
}
nav img {
    width: 20vw;
}
#home-jumbo {
    background-image: url('{% static "image/exercise-big.jpg"%}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* color: #c62511; */
    color: #0089ff;
    /* color: blue; */
    /* max-width: 1200px; */
}

