/* base template */
body {
    /* background-color: #0089ff; */
    background-color: #5D8AA8;
    padding: 0;
    margin: 0;
    border: 0;
}
/* general navbar */
nav {
    /* background: white; */
    background: #9BA2A7;
    /* margin-bottom: 15px; */
}
nav img {
    width: 50%;
}

/* user navbar */
#user-navbar {
    margin-bottom: 0;
    background: grey;
}
#user-name, #cart-name {
    /* color: #ffcd3c; */
    color: white;
}


/* welcome template */

#principles {
    background: white;
    /* background: #9BA2A7; */
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    /* color: #c62511; */
    color: #d6001c;
    border-bottom: 5px solid black;
}

#home-jumbo {
    background-image: url('{% static "image/exercise-big.jpg"%}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* color: #c62511; */
    /* color: #0089ff; */
    color: white;
    /* max-width: 1200px; */
}
/* end of welcome template */

/* Start of show exercise/mealplan template */

.exercise_cover {
    /* max-width: 500px;
    max-height: 350px; */
    max-width: 100%;
    height: auto;
    min-width: 200px;
}
.mealplan_cover {
    max-width: 100%;
    height: auto;
}

/* end of show exercise template */

/* for delete exercise/ mealplan template */
.delete-form {
    margin: 10px;
}


/* Footer */
footer {
    padding: 10px;
    background: #9BA2A7;
     font-family: 'Roboto', sans-serif;
     border-top: 5px solid black;
}
.footer-items a {
    padding: 10px;
    font-size: 30px;
    /* display: flex; */
    /* justify-content: space-between; */
}