/* base template */
body {
    /* background-color: #0089ff; */
    /* background-color: #5D8AA8; */
    background-color: #0070b7;
    padding: 0;
    margin: 0;
    border: 0;
}
/* general navbar */
/* nav */
#general-navbar {
    background: white;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d6001c;
    /* background: #9BA2A7; */
    /* background:#BDBDBD; */
    /* margin-bottom: 15px; */
}
nav img {
    width: 50%;
}
.nav-item a {
    color: #d6001c
}

/* user navbar */
#user-navbar {
    margin-bottom: 0;
    background: darkblue;
}
#user-name, #cart-name {
    /* color: #ffcd3c; */
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
/* end of base template */

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.card {
    font-family: 'Roboto', sans-serif;
}

.card-header {
    font-family: 'Roboto Condensed', sans-serif;
}

/* welcome template */

#principles {
    /* background: white; */
    /* background: #9BA2A7; */
    background:#0070b7;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    /* color: #c62511; */
    /* border-bottom: 5px solid black; */
}

#home-jumbo-exercise {
    background-image: url('{% static "image/exercise2.jpg"%}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* color: black; */
    /* color: #0089ff; */
    color: white;
    /* max-width: 1200px; */
}

#home-jumbo-mealplan {
    background-image: url('{% static "image/mealplan3.jpg"%}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* color: black; */
    /* color: #0089ff; */
    color: white;
    /* max-width: 1200px; */
}
.parallax {
  /* The image used */
  /* background-image: url('{% static "image/mealplan3.jpg"%}'); */

  /* Full height */
  /* height: 40vh;  */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* end of welcome template */

/* Start of show exercise/mealplan template */
#exercise-jumbo, #mealplan-jumbo {
    /* background: url("/static/image/exercise3.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    /* height: 40%; */
    font-size: 1.5rem;
}
.image-inner {
    background-color:rgb(255, 255, 255, 0.5);
    padding:0.5em;
    width:80%;
}
.image-inner ul {
    list-style-type: none;
}

.search-bar {
    max-height: 400px;
}

#products-search {
    background: #9BA2A7;
    padding: 10px;
    border-radius: 5px;
}

.exercise_cover {
    /* max-width: 500px;
    max-height: 350px; */
    max-width: 100%;
    height: auto;
    min-width: 200px;
}
.mealplan_cover {
    max-width: 100%;
    height: auto;
}
/* end of show exercise template */

/* for delete exercise/ mealplan template */
.delete-form {
    margin: 10px;
}
/* end of delete exercise/ mealplan template */

/* For exercise/mealplan details template */
.review-top {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
    margin: 10px;
    font-family:'Roboto Condensed', sans-serif;
    /* color:#d6001c; */
}

.exercise-details-cover {
    min-width: 330px;
    width: 70%;
    height: auto;
}
.mealplan-details-cover {
    min-width: 330px;
    width: 30%;
    height: auto;
}
.review-top {
    color: white;
}
.review-title {
    border-bottom: 1px solid black;
}
.review-header {
    color:#d6001c;
    background: #9BA2A7;
    /* background: #353A40; */
}
/* End of exercise/mealplan details template*/

/* For cart Template */



/* End of cart template */


/* For checkout template */
.table {

    font-family: 'Roboto', sans-serif;
}

.table h1 {
     color: white;
}
/* End of checkout template */

/* For All Auth templates */

.allauth-template {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.allauth-template h1 {
    font-family:'Roboto Condensed', sans-serif;
}
/* End of all auth template */

/* Footer */
footer {
    padding: 10px;
    /* background: #9BA2A7; */
    background: white;
    font-family: 'Roboto', sans-serif;
    border-top: 5px solid black;
}
.footer-items a {
    padding: 10px;
    font-size: 30px;
    /* display: flex; */
    /* justify-content: space-between; */
}