{% extends 'base.template.html' %} 
{% load cloudinary %}

{% block title %}
    Details for {{exercise.title}}
{% endblock%} 

{% block content %}

<h1>{{exercise.title}}</h1>
{% cloudinary book.cover %}

<div class="row">
  <div class="col-3">
    Type:
  </div>
  <div class="col">
    {{exercise.exercise_type}}
  </div>
</div>
<div class="row">
  <div class="col-3">
    Price:
  </div>
  <div class="col">
    {{exercise.price}}
  </div>
</div>
<div class="row">
  <div class="col-3">Description</div>
  <div class="col">{{exercise.description}}</div>
</div>

<h3>Reviews</h3>
<a class="btn btn-primary" href="{% url 'create_exercise_review_route' exercise_id=exercise.id %}">Create</a>
{% for r in exercise.exercisereview_set.all %}
<div class="card">
  <div class="card-body">
    <div class="card-title">{{r.title}}</div>
    <a class="btn btn-primary" href="{% url 'update_exercise_review_route' exercisereview_id=r.id %}">Edit</a>
    <a class="btn btn-primary" href="{% url 'delete_exercise_review_route' exercisereview_id=r.id %}">Delete</a>
    <p>on {{r.datetime}} by {{r.customer.first_name}} {{r.customer.last_name}}</p>
    <div>
      {{r.content}}
    </div>
  </div>
</div>
{% endfor %} 
{% endblock%}