{% extends 'base.template.html' %} 
{% load cloudinary %}
{% load static %}

{% block title %}
    Details for {{mealplan.title}}
{% endblock%} 

{% block content %}

<div class="review-top">
    <h1>Reviews for {{mealplan.title}}</h1>
    <div class="mealplan-cover-wrapper">
        {% cloudinary mealplan.cover class="mealplan-details-cover"%}
    </div>
</div>

{% if user.is_authenticated %}
<a class="btn btn-success mb-3" href="{% url 'create_mealplan_review_route' mealplan_id=mealplan.id %}">Create Review</a>
{% endif %}
{% for r in mealplan.mealplanreview_set.all %}
<div class="card mb-3">
    <div class="review-header card-header">
        <div class="review-wrapper mb-2"><strong>{{r.datetime}} by {{r.customer.username}}</strong></div>
    </div>
    <div class="card-body">
    <h5 class="review-title card-title">{{r.title}}</h5>
    <div class="card-text">
      {{r.content}}
    </div>
  </div>
</div>
{% endfor %} 
{% endblock%}