{% extends 'base.template.html'%}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load static %}

{%block title%} Exercise {%endblock%}

{% block content %}

    {% if request.user.is_superuser %}
        <a class="btn btn-primary mt-3 mb-3" href="{% url 'create_exercise_route' %}">Create Exercise</a>
    {%endif%}

        <div id="exercise-jumbo" class="products-jumbo jumbotron jumbotron-fluid" style="background-image: url('{% static "image/exercise3.jpg"%}');">
            <div class="container image-inner">
                <h1 class="display-4">Exercise</h1>
                <ul>
                    <li><h5>Be a member to purchase</h5></li>
                    <li><h5>Comes with a instruciton guide and video links</h5></li>
                    <li><h5>Exercise at the comfort of your home</h5></li>
                </ul>  
            </div>
        </div>

    <div id="products-search" class="search-bar container mb-5">
        <h3>Search</h3>
        <form method="GET">
        {{search_form|crispy}}
        <input class="btn btn-danger" type="submit" value="Search"/>
        </form>
    </div>

    <div class="row d-flex justify-content-center">
        {% for each_exercise in all_exercises %}
    <div class="card border-dark mb-3 mr-1 col-xs-6 col-sm-4 col-md-4" style="width: 80rem;  min-width: 300px;">
        <div class="card-header">
            <h5><a href="{% url 'exercise_details_route' exercise_id=each_exercise.id %}">{{each_exercise.title}}</a></h5>
            <p>Click here for reviews</p>
            {% if request.user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'update_exercise_route' exercise_id=each_exercise.id%}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete_exercise_route' exercise_id=each_exercise.id%}">Delete</a>
            {%endif%}
        </div>
        <div class="card-body d-flex flex-column">
        <div class="card-img-left">
            {% cloudinary each_exercise.cover class="exercise_cover"%}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Description:</strong> {{each_exercise.description}}</li>
            <li class="list-group-item"><strong>Type:</strong> {{each_exercise.exercise_type}}</li>
            <li class="list-group-item"><strong>Price:</strong> SGD {{each_exercise.price}}</li>
        </ul>
        {% if user.is_authenticated %}
            <a class="btn btn-dark mt-auto" href="{% url 'add_to_exercise_cart_route' exercise_id=each_exercise.id%}"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}