{%extends 'base.template.html'%}
{% load cloudinary %}

{%block title%}Mealplans{%endblock%}

{%block content%}

<h1>All Mealplans</h1>
    <a class="btn btn-primary" href="{% url 'create_mealplan_route' %}">Create Mealplan</a>

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Mealplan</h1>
        <p class="lead">Be Healthy</p>
        <a class="btn btn-success" href="{% url 'view_all_mealplans_route' %}">Learn More</a>
    </div>
    </div>

    <ul>
        {%for each_mealplan in all_mealplans%}
        <li>
            {% cloudinary each_mealplan.cover class="mealplan_cover"%}
            <a href="{% url 'mealplan_details_route' mealplan_id=each_mealplan.id %}">{{each_mealplan.title}}</a> 
            <a class="btn btn-primary" href="{% url 'update_mealplan_route' mealplan_id=each_mealplan.id%}">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete_mealplan_route' mealplan_id=each_mealplan.id%}">Delete</a>
            <a class="btn btn-dark" href="{% url 'add_to_mealplan_cart_route' mealplan_id=each_mealplan.id%}">Add to Cart</a>
        </li>
        {%endfor%}
    </ul>

{%endblock%}