{% extends 'base.template.html'%}


{%block title%} Exercise {%endblock%}

{% block content %}

    <h1>All Exercises</h1>
        <ul>
            {% for each_exercise in all_exercises %}
            <li>
                <a href="{% url 'exercise_details_route' exercise_id=each_exercise.id %}">{{each_exercise.title}}</a> 
                <a href="{% url 'update_exercise_route' exercise_id=each_exercise.id%}">Edit</a>
                <a href="{% url 'delete_exercise_route' exercise_id=each_exercise.id%}">Delete</a>

            </li>
        </ul>
	{% endfor %}

{% endblock %}